@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 15px 20px;
  position: relative;
}

header .logo {
  font-size: 1.8em;
  font-weight: bold;
  width: 8%;
}

head img {
  width: 50%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

header ul li a:hover {
  color: #2311c4;
}
header button {
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #2311c4;
}
header button a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
header button:hover{
  background-color: #2311c4a5;
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}